@font-face {
  font-family: 'Gmark-B';
  src: url('https://cdn.jsdelivr.net/gh/webgb/WGB_Font_CDN@master/GmarketSans/GmarketSansTTFBold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webgb/WGB_Font_CDN@master/GmarketSans/GmarketSansTTFBold.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webgb/WGB_Font_CDN@master/GmarketSans/GmarketSansTTFBold.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webgb/WGB_Font_CDN@master/GmarketSans/GmarketSansTTFBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gmark-L';
  src: url('https://cdn.jsdelivr.net/gh/webgb/WGB_Font_CDN@master/GmarketSans/GmarketSansTTFLight.eot');
  src: url('https://cdn.jsdelivr.net/gh/webgb/WGB_Font_CDN@master/GmarketSans/GmarketSansTTFLight.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webgb/WGB_Font_CDN@master/GmarketSans/GmarketSansTTFLight.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webgb/WGB_Font_CDN@master/GmarketSans/GmarketSansTTFLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gmark-M';
  src: url('https://cdn.jsdelivr.net/gh/webgb/WGB_Font_CDN@master/GmarketSans/GmarketSansTTFMedium.eot');
  src: url('https://cdn.jsdelivr.net/gh/webgb/WGB_Font_CDN@master/GmarketSans/GmarketSansTTFMedium.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webgb/WGB_Font_CDN@master/GmarketSans/GmarketSansTTFMedium.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webgb/WGB_Font_CDN@master/GmarketSans/GmarketSansTTFMedium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
